$yellow: #F7DA6B;
$red: #ED3E54;
$red-solid: #E03749;
$red-sell: #DB3236;
$blue: #396EC4;
$aqua: #41CEAE;
$control-blue: #2E71C4;
$green: #6CC269;
$grey: #CECECE;
$light-grey: #DEDEDE;
$silver-grey: #F2F1F1;
$secondary-grey: #767676;
$grey-control-border: #9E9E9E;
$secondary-silver: #414141;
$silver: #E6E6E6;
$true-silver: #F7F7F7;
$neutral-light: #9B9B9B;
$neutral: #727272;
$light-silver: #F4F3F3;
$pure-silver: #F8F8F8;
$silver-dark: #4A4A4A;
$strong-silver: #252525;
$white: #FFFFFF;
$black: #000000;
$black-silver: #404040;
$light-black: #202020;
$strong-dark: #1F1F1F;
$light-brown: #303030;
$light-black-transparent: rgba(32, 32, 32, 0.8);
